@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, "sans-serif";
    font-size: 18px;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 36px;
}

#subheader {
    color: #00a7ba;
}

h2  {
    font-size: 30px;
}

#page {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #bdffee;
    overflow: hidden;
}

#header {
    padding: 5px;
    background-color: #00e5ff;
    text-align: center;
}

img {
    border: double 10px white;
}

.info-box {
    /* width: 80%; */
    text-align: center;
    background-color: #dbfeff;
    padding: 20px;
    margin: 20px;
}
.sub-info-box {
    background-color: white;
    padding: 20px;
}

.file_id_box {
    resize: none;
}