@charset "utf-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, "sans-serif";
    font-size: 18px;
    text-align: center;

}

h1 {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 50px;
}

#subheader {
    color: #00a7ba;
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

#page {
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: #bdffee;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#header {
    padding: 5px;
    background-color: #00e5ff;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

img {
    border: double 10px white;
}

.info-box {
    /* width: 80%; */
    text-align: center;
    background-color: #dbfeff;
    padding: 20px;
    margin: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sub-info-box {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.file_id_box {
    resize: none;
}

.column {
    padding: 20px;
    margin: 5px;
    color: #00a7ba;
    background-color: white;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

td {
    width: 33%;
}

table {
    margin-left: 20px;
    margin-right: 20px;
}